body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("../images/piha1.jpeg");
    background-position: center;
    background-size: cover;
}

main {
    background-color: rgba(0, 0, 0, 0.322);
    width: 70%;
    height: 1000px;
    margin: 50px auto;
    border-radius: 20px 0px;
}

#form-header {
    padding: 30px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.500437675070028) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 80%, rgba(255,255,255,0.5032387955182073) 100%);
    border: 3px solid black;
    border-radius: 20px 0px;
}   

#form-header h1 {
    text-align: center;
}
#form-progress {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}
#form-progress progress {
    width: 60%;
    margin-left: 10px;
}

#buttons-section {
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#buttons-section button {
    width: 8em;
    padding: 10px;
}

#windows {
    position: relative;
    height: 70%;
    width: 80%;
    margin: 0 auto;
}

.window {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-radius: 20px 0px;
    background-color: rgba(255, 255, 255, 0.5);
    overflow-y: auto;
}

.window h2 {
    margin: 30px;
}

.user-details {
    background-color: aqua;
    margin: 0 auto;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label::after {
    content: ":";
}






