/* default styles */
h1, h2 {
    border: 4px solid rgba(255, 255, 255, 0.75);
    border-radius: 20px 0px;
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.2);
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: url("../images/piha1.jpeg") fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

main {
    background-color: rgba(0, 0, 0, 0.322);
    width: 70%;
    margin: 50px auto;
    border-radius: 20px 0px;
}

#form-header {
    padding: 30px;
    background: rgba(255, 255, 255, 0.7);
    border: 3px solid black;
    border-radius: inherit;
}   

#form-header h1 {
    background-color: #fe8943;
}

#form-progress {
    position: relative;
    width: 50%;
    margin: 20px auto;
    border-radius: 0 10px 10px 0;
    background-color: rgba(0, 0, 0, 0.2);
}

@keyframes move-background-image {
    from {
        background-position-x: 0px;
    } to {
        background-position-x: 780px;
    }
}

#form-progress-bar {
    background-size: 60px 60px;
    background-color: #fe8943;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%,
                      transparent 25%,
                      transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%,
                      transparent 75%, transparent);
    height: 2em;
    text-align: center;
    transition: width 1s ease;
    animation: move-background-image 10s infinite linear;
    border: 2px solid black;
    border-radius: inherit;
}

#form-progress-percent {
    position: absolute;
    top: 27%;
    left: 10px;
    margin: 0;
}

#buttons-section {
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#buttons-section button {
    width: 8em;
    padding: 10px;
    border: 3px solid black;
    background-color: #fe8943;
    transition: background-color 0.5s, font-size 0.5s;
}
#buttons-section button:hover {
    background-color: white;
    font-size: 1.25em;
}

#forward-button {
    border-radius: 0 10px 10px 0;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5);
}

#backward-button {
    border-radius: 10px 0 0 10px;
    box-shadow: -3px 6px 10px rgba(0, 0, 0, 0.5);
}

#invalid-data-label {
    width: 120px;
    background-color: #fe8943;
    border: 3px solid black;
    padding: 5px 10px;
    opacity: 0;
    transition: opacity 0.5s;
}

#windows {
    width: 80%;
    margin: 0 auto;
}

.window {
    opacity: 0;
    display: none;
    width: 100%;
    border: 3px solid black;
    border-radius: 20px 0px;
    background-color: rgba(255, 255, 255, 0.5);
    overflow-y: auto;
    margin-bottom: 30px;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(-100px);
    } to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.window.visible {
    opacity: 1;
    display: block;
    animation: slide-in 1s 1 forwards;
}

.window.hidden {
    opacity: 0;
    display: none;
}

.window h2 {
    margin: 30px 40px;
    background-color: #fe8943;
}

.user-details {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0 auto 30px auto; 
    padding: 10px;
    border-radius: inherit;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

td {
    padding: 3px 0;
}

.agreement-section {
    margin: 20px 0;
}

label::after {
    content: ":";
}

input, select {
    padding: 10px;
    transition: width 0.8s ease-out, border-radius 0.8s ease-out, 
    background-color 0.8s ease-out, color 0.8s ease-out;
    width: 80%;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

input[type=range] { 
    padding: 0;
    width: 80%; 
}
input[type=number], input[type=color] { width: 20%; }
input[type=date] { width: 60%; }
input[type=radio], input[type=checkbox] { width: 10%; }

input:focus, select:focus { 
    width: 85% !important;
    border-radius: 20px 0px;
    box-shadow: 8px 8px;
    background-color: white;
    color: black;
}

input[type=radio]:focus, input[type=checkbox]:focus {
    width: 10% !important;
    box-shadow: none;
}
input[type=color]:focus { 
    width: 20% !important; 
    box-shadow: none;
}
input[type=number]:focus { width: 50% !important;}
input[type=range]:focus { 
    box-shadow: none;
    width: 80% !important;
}

.text-range-combo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-range-combo p {
    display: inline;
    margin: 0;
}

.indent::before {
    content: "      ";
    white-space: pre;
}

.invalid-input {
    border-width: 4px;
    border-color: #fe8943;
}

div.invalid-input {
    border: 4px solid #fe8943;
}

.review-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-details {
    width: 100%;
    border-bottom: 4px solid black;
    margin-bottom: 20px;
}

#captcha-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#captcha-display {
    border: 2px solid black;
    padding: 3px;
    margin: 10px;
}