@keyframes background-slide-up {
    from {
        background-position-y: -100%;
    } to {
        background-position-y: 100%;
    }
}

@keyframes car-move {
    from {
        left: -500px;
    } to {
        left: 50px;
    }
}

@keyframes wheel-rotate {
    from {
        transform: rotateZ(0deg);
    } to {
        transform: rotateZ(360deg);
    }
}

#hilux-ad {
    width: 100%;
    height: 300px;
    background-color: black;
    background-image: url("../images/hilux-ad-background.png");
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: 100% auto;
    animation: background-slide-up 1s forwards 1;
    position: relative;

    overflow: hidden;
}

#hilux-car {
    width: 500px;
    height: 180px;
    background-image: url("../images/hilux-car.png");
    background-size: 100%;
    background-repeat: no-repeat;
    top: 25%;
    left: -500px;

    position: absolute;
    animation: car-move 2.5s 1s forwards 1 linear;
}

#wheel-container {
    position: relative;
    width: inherit;
    top: 50%;
}

.hilux-wheel {
    width: 60px;
    height: 60px;
    background-image: url("../images/car_wheel.png");
    background-size: 100%;
    background-repeat: no-repeat;
    animation: wheel-rotate 0.5s 1s forwards 5 linear;
    position: absolute;
}

#back {
    left: 24%;
}

#front {
    right: 17%;
}

#text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: s;
    width: 270px;
    height: 200px;
    position: absolute;
    right: 10%;
    top: 20%;
}

@keyframes text-move {
    to {
        transform: translate(0%);
    }
}

.text-slide {
    text-align: left;
    width: 100%;
    font-style: normal;
    color: white;
    margin: 5px 0;
    padding: 10px 0;
    transform: translateX(300%);
    animation: text-move 1s forwards;
}

#first-text {
    animation-delay: 1s;
}

#second-text {
    animation-delay: 2s;
}

#third-text {
    animation-delay: 3s;
}

@keyframes shake-element {
    0% {
        
    }
}

#text .link {
    background-color: black;
    border-radius: 30px;
    width: 60%;
}